* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: black solid 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: aliceblue;
    z-index: 1;

}

.navbar__s1__Title {
    color: blueviolet;
}

.navbar__s2 {
    padding: 20px;
    border: solid black 2px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 20px;
    background-color: transparent;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s4 {
    display: none;
}
/* My learning popup */

.Mylearning{
    position: relative;
    cursor: pointer;
    
}

.Mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100px;
    top: 150%;
    padding: 20px;
    right: 0;
    display: none;



}
.Mylearning:hover .Mylearning__popup{
    display: block;
}

.Categories {
    display: flex;
    padding: 10px;
    border-bottom: black solid 2px;
    justify-content: space-between;

}

.Categories p {
    background-color: blueviolet;
    color: aliceblue;
    padding: 10px;
    border-radius: 30px;
    border: solid blueviolet 1px;

}

.Categories p:hover {
    transition: 1s;
    background-color: transparent;
    color:black;
    border: solid blueviolet 1px;
    cursor: pointer;
}


.Sale-image{
    position: relative;
}

.Sale-image img {
    width: 100%;
}

.sale-image__offer{
    width: 35%;
    border: solid black 2px;
    background-color: white;
    padding: 2%;
    position: absolute;
    top: 10%;
    left: 5%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    0%{
     transform: scale(0);
     opacity: 0;

    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}


.Recommended {
    padding: 10px;
}

.Recommended__Container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Course-Card {
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}

.Course-Card img {
    height: 50%;
    width: 100%;
}

.Topics {
    padding: 10px;
}

.Topics__Container {
    display: flex;
    gap: 10px;
    
    margin: top 10px;
    ;
    flex-wrap: wrap;
}

.Topics__Container p {
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.Popular {
    padding: 10px;
    ;
}

.Populaar__Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;

}

.Footer {
    padding: 30px;
    background-color: black;
    color: aliceblue;
}

.Footer__one {
    display: flex;
    gap: 40px;
}

.Footer__one p {
    margin: 20px;
}

.Footer__Two {
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:800px) {
    body {
        font-size: 10px;
    }
    
}

@media screen and (max-width:500px) {
    .Course-Card {
        flex-basis: 40%;
    }
    
    .Categories{
        display: none;
    }
    .navbar__s3{
        display: none;
    }
    .navbar__s4{
        display: block;
        cursor: pointer;
    }
}